{% extends "base.html" %}
<link rel="stylesheet" type="text/css" href="../static/main.css" />
{% block title %}Dashboard{% endblock %} {% block page_content %}
<link rel="stylesheet" href="{{ url_for('static', filename='events.css') }}" />

<img src="{{ url_for('static', filename='assets/uoft-logo.png') }}" alt="UofT Logo" class="logo"/>
<div class="events-container">
  {% if logged_in %}
  <h1><b>Events Dashboard</b></h1>

  <div class="events-search-container">
    <input class="searchbar" type="text" placeholder="Search for an Event" />
    <button class="button" style="margin-left: 5px">Search</button>
  </div>

  <div class="events-filter-container">
    Start Date:
    <input class="date-selector" type="date" class="start-date">
    End Date:
    <input class="date-selector" type="date" class="end-date">
    <button class="button" style="margin-left: 5px">Reset Filters</button>
    <br/>
    <div style="margin-top: 5px;">
        Event Type:
        <select name="event-type" id="event-type">
        <option value="academic">Academic</option>
        <option value="arts">Arts</option>
        <option value="athletics">Athletics</option>
        <option value="career">Career</option>
        <option value="cultural">Cultural</option>
        <option value="health">Health</option>
        <option value="social">Social</option>
        <option value="music">Music</option>
        <option value="technology">Technology</option>
        <option value="science">Science</option>
        <option value="food">Food</option>
        <option value="environmental">Environmental</option>
        <option value="volunteer">Volunteer</option>
        <option value="travel">Travel</option>
        <option value="gaming">Gaming</option>
        <option value="fashion">Fashion</option>
        <option value="fitness">Fitness</option>
        <option value="business">Business</option>
        <option value="literature">Literature</option>
        <option value="film">Film</option>
        <option value="religious">Religious</option>
        <option value="other">Other</option>
        </select></div>

  </div>

  <div class="events-body">

    <div class="left-view"> 
        <h2>Discover Events</h2>
        <title>Event Popup Example</title>
        <style>
          .popup {
            display: none;
            position: fixed;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            padding: 20px;
            background-color: #fff;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
            z-index: 1;
            width: 500px;
          }
        </style>

        <div class="discover-events-container">
          {% if UpcomingEvents %}
            {% for event in UpcomingEvents %}
              <div class="event-card">
                <div class="event-title" style="text-align: center;"><b>{{event.name}}</b><br/>{{event.type}} <br/></div>
                <br/>
                <b>Time: </b>{{event.time}}<br/>
                <b>Location: </b>{{event.place}}<br/><br/>
      
                <div class="register-link" style="text-align: center;">
                  <a href="#" onclick="openPopup('{{event.name}}', '{{event.type}}', '{{event.time}}', '{{event.place}}')">Learn More/Register</a>
                </div>
      
                <div class="popup" id="popup-{{event.name}}">
                  <p><b>{{event.name}} </b>({{event.type}})<br/></p>
                  <p><b>Time: </b>{{event.time}}</p>
                  <p><b>Location: </b>{{event.place}}</p><br/>
                  <p><b>Description: </b><br/> {{event.details}} <br/></p>
                  <p><b>How to Book: <br/></b> {{event.booking}} <br/></p>
                  <p><b>Accomodation: </b><br/> {{event.accomodation}} <br/></p>
                  <p><b>Requisites: </b><br/> {{event.requisite}}</p> <br/>
                  <div style="display:flex; justify-content: space-between">
                    <button onclick="closePopup('{{event.name}}')">Close</button>
                    <button onclick="registration('{{event.id}}')">Register</button>
                  </div>

                </div>
              </div>
            {% endfor %}
          {% else %}
            <div class="no-events-text" style='text-align:center'>No events to show.</div>
          {% endif %}
        </div>

        <script>
          function openPopup(eventName, eventType, eventTime, eventPlace) {
            var popupId = 'popup-' + eventName;
            var popup = document.getElementById(popupId);
            popup.style.display = 'block';
          }
      
          function closePopup(eventName) {
            var popupId = 'popup-' + eventName;
            var popup = document.getElementById(popupId);
            popup.style.display = 'none';
          }

          function registration(eventID){
            console.log(eventID)
            fetch('/events/registration', {
              method: 'POST', 
              headers: {
              'Content-Type': 'application/json',
              },
              body: JSON.stringify({eventID: eventID})
            })
          }
        </script>

    </div>

    <div class="right-view">
        <h2>My Events:</h2>
        <div class="my-events">
            <br/>
            <div>
            {% if MyEvents %}
            {% for event in MyEvents %}
            <div class="event-preview" style="margin-left: 30px">
                <b>{{event.name}} @ {{event.place}}</b> ({{event.type}})<br/>
                <b>Time:</b> {{event.time}}<br/><br/> 
            </div>
            {% endfor %}
                {% else %}
                <div class="no-events-text" style='text-align:center'>No events to show.</div>
            {% endif %}


            </div>
        </div>
    

    <h2>Upcoming Events:</h2>
      <div class="upcoming-events">
        <br />
        
          {% if UpcomingEvents %}
          {% for event in UpcomingEvents[:5] %}
            <div class="event-preview" style="margin-left: 30px">
                <b>{{event.name}} @ {{event.place}}</b> ({{event.type}})<br/>
                <b>Time:</b> {{event.time}}<br/><br/> 
            </div>
            {% endfor %}
                {% else %}
                <div class="no-events-text" style='text-align:center'>No events to show.</div>
            {% endif %}

      </div>
    </div>
  </div>

  </div>


  {% else %}
  <h1>Please <a href="/login">log in</a> first. </h1>
  
  {% endif %}
</div>
{% endblock %}
