{% extends "base.html" %}
<link rel="stylesheet" type="text/css" href="../static/main.css">
{% block title %}Dashboard{% endblock %}

{% block page_content %}
    <div class="page-header">
        {% if logged_in %}
        <h1>Events Dashboard</h1>
        <div class="event_dashboard_user_events_container">
            <h2>My Events:</h2>
            <br>
            <div style="overflow: scroll; width: 25%; height: 200px; text-overflow: clip; white-space: nowrap;">
                <ul>
                    {% for event in events %}
                    <li>{{event.name}}</li>
                    <ul>
                    <li>Time: {{event.time}}</li>
                    <li>Location: {{event.place}}</li>
                    </ul>
                    <br>
                {% endfor %}
                </ul>
            </div>
        </div>
        {% else %}
        <h1>Please <a href="/login">log in</a> first. </h1>
        {% endif %}
    </div>
{% endblock %}
