{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}
<link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}" />


<div class="signup-container">
    <!-- Logo -->
    <img src="{{ url_for('static', filename='assets/uoft-logo.png') }}" alt="UofT Logo" class="logo"/>

    <div class="form-container">
        <h1 class="signup-header">Sign up</h1>
        {% for err in errors %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ err }}
        </div>
        {% endfor %}
        <form method="post" action="/signup">
            {{ wtf.form_field(form.email) }}
            {{ wtf.form_field(form.firstName) }}
            {{ wtf.form_field(form.lastName) }}
            {{ wtf.form_field(form.phone) }} 
            {{ wtf.form_field(form.password) }} 
            {{ wtf.form_field(form.confirmPassword) }} 
            {{ wtf.form_field(form.clubRepresentative) }}
            <div id="roleFormContainer" style="display: none">
                {{ wtf.form_field(roleForm.clubName, value=" ") }}
                {{ wtf.form_field(roleForm.clubRole) }}
            </div>
            <button type="submit" class="btn btn-primary">Create Account</button>
            <p class="signup-subtext">
                Already have an account? <a href="/login">Login</a>
            </p>
        </form>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#clubRepresentative").change(function () {
            if ($(this).val() == "Yes") {
                $("#roleFormContainer").show();
            } else {
                $("#roleFormContainer").hide();
            }
        });
    });
</script>
{% endblock %}