
{% extends "base.html" %}

{% block title %}User Profile{% endblock %}

{% block page_content %}
    <div class="page-header">
        {% if logged_in %}
        <div class="content-section">
            <div class="media">
              <img class="rounded-circle account-img" src="{{ image_file }}">
              <div class="media-body">
                <h2 class="account-heading">{{ first_name }} {{last_name}}</h2>
                <p class="text-secondary">{{ email }}</p>
              </div>
            </div>
              
            <form method="post" action="/user" enctype="multipart/form-data">
                {{ form.hidden_tag() }}
                <fieldset class="form-group">
                    <legend class="border-bottom mb-4">Account Info</legend>
                    <div class="form-group">
                        {{ form.firstname.label(class="form-control-label") }}
                        {{ form.firstname(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.lastname.label(class="form-control-label") }}
                        {{ form.lastname(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.phone.label(class="form-control-label") }}
                        {{ form.phone(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.email.label(class="form-control-label") }}                      
                        {{ form.email(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.password.label(class="form-control-label") }}                      
                        {{ form.password(class="form-control form-control-lg") }}
                    </div>
                    <div class="form-group">
                        {{ form.picture.label() }}
                        {{ form.picture(class="form-control-file") }}
                        {% if form.picture.errors %}
                            {% for error in form.picture.errors %}
                                <span class="text-danger">{{ error }}</span></br>
                            {% endfor %}
                        {% endif %}
                    </div>
                </fieldset>
                <div class="form-group">
                    {{ form.submit(class="btn btn-outline-info") }}
                </div>
            </form>
          </div>


        {% else %}
        <h1>Please <a href="/login">log in</a> first.</h1>
        {% endif %}

{% endblock %}
