body {
  margin: 0;
  height: 100vh;
  background: rgb(245, 247, 250);
  font-family: "Gill Sans", sans-serif;
  font-size: 20px;
}
.title-container {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  font-weight: bold;
}
.description-container {
  display: flex;
  justify-content: center;
}
.search-container {
  margin-top: 30px;
  display: flex;
  justify-content: center;
  margin-bottom: 100px;
}

.navbar-container {
  display: flex;
  justify-content: flex-end;
  color: white;
  height: 50px;
}

.nav.navbar-nav li a {
  color: white;
}

.nav.navbar-nav li a:hover {
  color: #a3a3a3;
}

.nav.navbar-nav li a:active {
  color: #797979;
  transform: scale(0.95);
}

.nav.navbar-nav li a:disabled {
  border-color: #dddddd;
  color: #dddddd;
  cursor: not-allowed;
  opacity: 1;
}

